/* font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif; */

/* Standart styles */
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #585858;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Container */
.container {
  max-width: 100%;
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  width: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

/* Nav */
.nav {
  display: flex;
  height: 100%;
  font-size: 15px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 0 10px;

  color: #fff;
  text-decoration: none;
}

.nav__link.active {
  background-color: #004af2;
}

/* Intro */
.intro {
  height: 600px;
  background: #000 url('../images/intro/intro-bg.jpg') no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
}

.intro__inner {
  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.intro__text {
  text-align: right;
  margin: 45px;
}

.intro__countries {
  font-size: 15px;
  color: #fff;
}

.intro__title {
  position: relative;
  font-size: 110px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 0.9;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.intro__title-amp {
  line-height: 1;
  font-size: 170px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2);

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Request-form */
.request-form {
  width: 100%;
  max-width: 400px;
  overflow: hidden;

  background-color: #004af2;
  border-radius: 5px;
}

.request-form-intro {
  position: relative;
  bottom: -30px;
}

.request-form__header {
  padding: 20px 30px;
  background-color: #033fc9;
}

.request-form__title {
  font-family: 'Lato', 'sans-serif';
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  color: #fff;
}

.request-form__text {
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
}

.request-form__content {
  padding: 30px;
}

/* Form */
.form__group {
  margin-bottom: 25px;
  position: relative;
}

.input {
  display: block;
  width: 100%;
  padding-bottom: 12px;
  padding-left: 25px;

  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;

  background: none;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  transition: border-color 0.1s linear;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: 0;
  border-bottom-color: #fff;
}

.form__group-user {
  background: url('../images/intro/user-icon.svg') no-repeat;

  width: 20px;
  height: 20px;
  margin-top: 4px;

  position: absolute;
}

.form__group-tel {
  background: url('../images/intro/phone-icon.svg') no-repeat;

  width: 20px;
  height: 20px;
  margin-top: 4px;

  position: absolute;
}

.form__group-email {
  background: url('../images/intro/mail-icon.svg') no-repeat;

  width: 20px;
  height: 20px;
  margin-top: 7px;

  position: absolute;
}

/* Btn */
.btn {
  display: inline;
  vertical-align: middle;
  padding: 15px 45px;

  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  background: #ccc;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--orange {
  background-image: linear-gradient(to right, #ff903e, #ff2c2c);
}

/* Section */
.section {
  padding: 60px 0;
}

.section__title {
  font-size: 45px;
  font-weight: 900;
  line-height: 1.2;
  color: #2c2c2c;
  font-family: 'Lato', sans-serif;

  margin-bottom: 40px;
}

.section__title span {
  color: #0d53f2;
}

/* Services */
.services {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 50px;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

  position: relative;
}

.services__main-title {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;

  margin-right: 30px;
  margin-bottom: 12px;

  font-family: 'Lato', sans-serif;
  font-size: 90px;
  font-weight: 900;
  line-height: 1;
  color: rgba(44, 44, 44, 0.2);
}

.services__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0 25px;
  margin-bottom: 30px;
}

.services__title {
  margin-bottom: auto;
  font-size: 24px;
  line-height: 1.2;
  color: #2c2c2c;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
}

.services__text {
  margin-bottom: 20px;
  color: #585858;
  font-size: 15px;
  line-height: 1.4;
}

.services__footer {
  margin-top: auto;
}

.services__link {
  display: inline-block;
  font-size: 15px;
  color: #004af2;
  text-decoration: none;
  transition: color 0.1s linear;
}

.services__link::after {
  margin-top: 5px;
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  background: #004af2;
  transition: width 0.1s linear;
}

.services__link:hover {
  color: #ff3e2f;
}

.services__link:hover::after {
  width: 100%;
  background: #ff3e2f;
}

/* Clients */
.clients {
  display: flex;
  margin-bottom: 60px;
}

.clients__logos {
  width: 60%;
  background: url('../images/clients/map.svg') left center no-repeat;
}

.clients__reviews {
  width: 40%;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.clients__list li {
  margin-right: 40px;
  margin-bottom: 40px;
}

.clients__footer {
  display: flex;
  align-items: center;
}

.clients-love {
  margin-left: 30px;
  position: relative;
  font-size: 18px;
  color: #464646;
}

.clients-love__heart {
  position: absolute;
  top: -6px;
  left: 34px;

  background: url('../images/clients/heart.svg') center no-repeat;
  min-height: 47px;
  min-width: 47px;
  z-index: 1;
}

/* Reviews */
.reviews {
  position: relative;
}

.reviews::before {
  content: '';
  display: block;
  width: 92px;
  height: 126px;

  background: url('../images/clients/lines.svg') center no-repeat;

  position: absolute;
  top: -15px;
  left: 3px;
  z-index: 1;
}

.reviews__header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.reviews__header-content {
  font-family: 'Lato', sans-serif;
  flex-grow: 1;
  margin-left: 20px;
}

.reviews__photo {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0 16);
}

.reviews__name {
  font-size: 18px;
  font-weight: 900;
  color: #6c6b6b;
}

.reviews__company {
  font-size: 15px;
  color: #2c2c2c;
}

.reviews__content {
  color: #585858;
  font-size: 15px;
  line-height: 1.8;
}

.reviews__content p {
  margin-bottom: 20px;
  text-indent: 20px;
}

/* Benefits */
.benefits {
  display: flex;
}

.benefits__col {
  width: 50%;
}

.benefits-list {
  position: relative;

  width: 100%;
  max-width: 370px;
  padding-left: 50px;

  background-image: linear-gradient(to bottom, #fff 40%, #a5a5a5 40%);
  background-size: 2px 35px;
  background-repeat: repeat-y;
  background-position: left 12px top -4px;
}

.benefits-list::before,
.benefits-list::after {
  content: '';
  display: block;
  width: 26px;
  height: 36px;

  background-repeat: no-repeat;

  position: absolute;
  left: 0;
  z-index: 1;
}

.benefits-list::before {
  background: url(../images/benefits/pin-start.svg) no-repeat;
  background-color: #fff;

  top: -5px;
}

.benefits-list::after {
  background: url(../images/benefits/pin-end.svg) no-repeat;
  background-color: #fff;

  bottom: -4px;
}

.benefits-list::after .benefits-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.benefits-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.benefits-list__title {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 12px;
  color: #2c2c2c;
  font-weight: 900;
}

.benefits-list__text {
  font-size: 15px;
  line-height: 1.4;
  color: #585858;
}
